<button nz-button nzSize="small" nzType="primary" (click)="download()" style="margin-right: 8px">
  <i class="anticon anticon-file-excel"></i>下载模板
</button>
<button nz-button nzSize="small" nzType="primary" (click)="import()" style="margin-right: 8px">
  <i class="anticon anticon-file-add"></i>导入
</button>
<input *ngIf="isImport" type="file" (change)="change($event)" multiple="false" class="ml-sm" />
<nz-dropdown>
  <button nz-button nz-dropdown nzType="primary" nzSize="small">
    <i class="anticon anticon-export"></i>导出<i class="anticon anticon-down"></i></button>
  <ul nz-menu>
    <li nz-menu-item>
      <a (click)="exportAll()">导出全部</a>
    </li>
    <li nz-menu-item>
      <a (click)="export()">导出所选</a>
    </li>
  </ul>
</nz-dropdown>
