# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
ng-alain/dist
ng-alain/tmp
ng-alain/out-tsc

# dependencies
ng-alain/node_modules
# /package-lock.json

# IDEs and editors
ng-alain/.idea
ng-alain/.project
ng-alain/.classpath
ng-alain/.c9/
ng-alain/*.launch
ng-alain/.settings/
ng-alain/*.sublime-workspace

# e2e
ng-alain/e2e/*.js
ng-alain/e2e/*.map

# System Files
.DS_Store
Thumbs.db
ng-alain/package-lock.json
