<page-header [title]="'学生信息列表'"></page-header>

<nz-card [nzExtra]="extraRoleTemplate" *ngIf="view=='list'">
  <data-filter name="student" [parentComponent]="this"></data-filter>
  <simple-table #stc [data]="data" [total]="total" [columns]="columns" [scroll]="{ x: '1400px' }"
                [preDataChange]="dataChange" [resReName]="{ list: 'data' }"
                showPagination="true" pagePlacement="center" toTopInChange
                showSizeChanger showQuickJumper showTotal isPageIndexReset
                (checkboxChange)="checkboxChange($event)">
  </simple-table>
</nz-card>

<ng-template #extraRoleTemplate>
  <button nz-button nzSize="small" nzType="primary" (click)="add()" style="margin-right: 8px">
    <i class="anticon anticon-plus-square-o"></i>新增
  </button>
  <import-export [name]="name" [moduleName]="moduleName" [parentComponent]="this"></import-export>
</ng-template>

<student-detail *ngIf="view=='studentDetail'" [student]="student" [parentComponent]="this"></student-detail>
