<page-header [title]="'学生违纪信息'"></page-header>

<nz-card nzTitle="信息列表" [nzExtra]="extraRoleTemplate">
  <simple-table #stc [data]="data" [columns]="columns" [scroll]="{ x: '1500px' }"
                [preDataChange]="dataChange" [resReName]="{ list: 'data' }"
                (checkboxChange)="checkboxChange($event)">
  </simple-table>
</nz-card>

<ng-template #extraRoleTemplate>
  <button nz-button nzSize="small" nzType="primary" (click)="add(modalContent)" style="margin-right: 8px">
    <i class="anticon anticon-plus-square-o"></i>新增
  </button>
  <button nz-button nzSize="small" nzType="primary" (click)="editPre(modalContent)" style="margin-right: 8px">
    <i class="anticon anticon-edit"></i>修改
  </button>
  <import-export [name]="name" [moduleName]="moduleName" [parentComponent]="this"></import-export>
</ng-template>

<ng-template #modalContent>
  <div style="overflow-y:auto;">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">学号</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input [(ngModel)]="vo.studentNum" formControlName="studentNum" placeholder="请输入" *ngIf="isDisable">
          <input nz-input [(ngModel)]="vo.studentNum" formControlName="studentNum" placeholder="请输入" *ngIf="!isDisable" disabled>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">处分时间</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-date-picker [(ngModel)]="vo.ptime" formControlName="ptime" nzShowTime nzSize="large"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">处分种类</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input [(ngModel)]="vo.ptype" formControlName="ptype" placeholder="请输入">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">发文号</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input [(ngModel)]="vo.pno" formControlName="pno" placeholder="请输入">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">处分原因</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <input nz-input [(ngModel)]="vo.info" formControlName="info" placeholder="请输入">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="title">解除处分时间</nz-form-label>
        <nz-form-control nzXs="24" nzSm="12" nzMd="10">
          <nz-date-picker [(ngModel)]="vo.removeTime" formControlName="removeTime" nzShowTime nzSize="large"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</ng-template>
