<div class="aside-inner">
  <nz-dropdown nzTrigger="click" nzVisible="false" class="user-block">
    <div nz-dropdown class="user-block-dropdown">
      <nz-avatar class="avatar" [nzSrc]="settings.user.avatar"></nz-avatar>
      <div class="info">
        <strong>{{settings.user.name}}</strong>
        <p class="text-truncate mb0">{{ settings.user.tno }}</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item><a routerLink="/teacher/teacher-setting">{{ '个人中心' | translate }}</a></li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
